@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --box-shadow: rgba(149, 157, 165, 0.2) 20px 8px 24px !important;
    /* --primary-color: #fb9400; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
html {
  font-size: 4px;
  /* color: #333; */
}
.title {
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10rem;
  color: var(--primary-color);
  margin-top: 25rem;

}
.custom-btn{
  /* background-color: var(--primary-color); */
  /* padding: 2rem 6rem; */
  color: #fff;
  border: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  
}
.custom-btn:hover{
  opacity: 0.9;
  color: #ffffff;
  border: none;
 transform: scale(1.1) ;
 transition: linear .3s;
}
